.home {
    background-color: #f5f5f5;
    color: #1F1F3F;
    height: 100vh;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #FFFF00;
    box-shadow: 2px 2px 10px #FFFF00;
}

#home-section {
    display: grid;
    place-items: center;
    align-items: center;
}

#home-section h1 {
    margin: 100px;
    font-size: 50px;
    letter-spacing: 2.5px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 20px;
}

#home-section input {
    background-color: #1F1F3F;
    color: white;
    padding: 10px;
    width: 500px;
    height: 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    box-shadow: -5px 5px 5px #1F1F3F;
}

#home-section input::placeholder {
    color: white;
}

.button {
    background-color: #9400D3;
    color: white;
    width: 10em;
    height: 40px;
    border-radius: 20px;
    text-align: right;
    transition: all 0.6s ease;
    border: none;
    box-shadow: -5px 5px 5px #1F1F3F;
  }

  .button:hover {
    background-color: #00FFFF;
    cursor: pointer;
  }

  .button svg {
    display: flex;
    width: 1.5em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    transition: all 0.6s ease;
  }

  .button:hover svg {
    transform: translateX(10px);
  }

  .text-button {
    margin: 0 5em;
  }

#home-section button:hover {
    background-color: #00FFFF;
    color: #1F1F3F;
}

#popup {
  padding: 20px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1F1F3F;
  border: 1px solid #1F1F3F;
  border-radius: 20px;
  box-shadow: -5px 5px 10px #1F1F3F;
  color: #00FFFF;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 18px;
  letter-spacing: .8px;
}

#popup h2 {
  color: #FFFF00;
}

#popup img {
  margin-bottom: 10px;
  width: 70%;
}

#popup p {
  margin: 0;
  margin-bottom: 10px;
}

#popup a {
  padding: 5px;
  color: white;
  background-color: #9400D3;
  border-radius: 20px;
  text-decoration: none;
  transition: ease .8s;
}

#popup a:hover {
  background-color: #00FFFF;
  color: black;
  transition: ease .8s;
}

.close-btn {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #00FFFF;
}

#popup>.close-btn:hover {
  background-color: transparent;
  color: #00FFFF;
}

#popup.show {
  display: block;
  opacity: 1;
}

.modal {
  width: 300px;
  background-color: #1f1f3f;
  color: #00FFFF;
  border-radius: 20px;
  box-shadow: -5px 5px 10px #1F1F3F;
}

.modal h2 {
  color: #FFFF00;
}

.modal span {
  font-size: 30px;
  cursor: pointer;
}